<h1>Owners</h1>

<% if @owners.present? %>
  <ul>
    <% @owners.each do |owner| %>
      <li><%= owner.first_name %></li>
      <li><%= owner.last_name %></li>
      <li><%= owner.company %></li>
    <% end %>
    </ul>
<% end %>
